/*Fuentes*/

@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Allerta');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*--------*/


*{
  margin: 0;
  padding: 0;
}
body{
    margin-top: 100px;
    background-image: url("../img/verduras.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

#logo{
  height: 100px;
  margin-left: 100px;
}

#bienvenido h2{
  background-color: rgba(255, 44, 25, 0.77);
  color: rgba(0, 0, 0, 0.96);
  font-family: "Allerta";
  font-size: 1.5em;
  display: inline-block;
  text-shadow: 3px 1px 2px rgba(255, 255, 255, 1);
}


header{
  background-color: #fc4646;
  background: linear-gradient(90deg, #fc4646, orange 90%);
  background: -webkit-linear-gradient(90deg, #fc4646, orange 90%);
  background: -moz-linear-gradient(90deg, #fc4646, orange 90%);
  background: -ms-linear-gradient(90deg, #fc4646, orange 90%);
  background: -o-linear-gradient(90deg, #fc4646, orange 90%);
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2;
}

header div{
  float: left;
  display: inline-block;
  position: relative;
}
header div h1{
  line-height: 100px;
  position: relative;
  font-family: "Bitter";
  font-size: 2em;
  text-align: center;
  vertical-align: 100px;
  left: 180px;
  text-shadow: 3px 1px 2px rgba(255, 255, 255, 1);
}


nav{
  display: inline-block;
  float: right;
  margin-right: 30px;

}

nav ul li{
  display: inline-block;
  padding: 25px;

}

a{
  text-decoration: none;
}

a img{
  height: 30px;
  width: 30px;
  opacity: 0.7;
}
a img:hover{
  height: 32px;
  width: 32px;
  opacity: 1;
  transition: background-color .5s;
}
/*comentarios: Acá comienza la pantalla inicial*/

section div ul{
    margin: auto;
}

section div ul li{
  display: inline-block;
  height: 250px;
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: "Bitter";
  text-align: center;
  line-height: 250px;

}

section div ul li a{
  color: white;
  text-shadow: 2px 2px 0 #440435, 2px -2px 0 #440435, -2px 2px 0 #440435, -2px -2px 0 #440435, 2px 0px 0 #440435, 0px 2px 0 #440435, -2px 0px 0 #440435, 0px -2px 0 #440435;

}

section #botonera{
  width: 530px;
  margin: 0 auto;
  height:  100vh;
  animation-name: swirl-in;
  animation-duration: 2s;

}

section > h3{
  display: none;
}

#login form p{

  text-decoration: bold;

}

#login > div > div >.ejercicio36> form{

  padding: 20px;

}

#segundocuadrado{
    -webkit-border-top-right-radius: 200px;
    border-top-right-radius: 200px;
      background-color: rgba(28,155,0,0.7);
}
#segundocuadrado:hover{
    background-color: rgba(28,155,0,1);
    transition: background-color .5s;
}
#tercercuadrado{
    -webkit-border-bottom-left-radius: 200px;
    border-bottom-left-radius: 200px;
      background-color: rgba(255, 255, 0, 0.7);
}
#tercercuadrado:hover{
      background-color: rgba(255, 255, 0, 1);
          transition: background-color .5s;
}
#cuartocuadrado{
    -webkit-border-bottom-right-radius: 200px;
    border-bottom-right-radius: 200px;
      background-color: rgba(255,0 ,0,0.7);
}
#cuartocuadrado:hover{
      background-color: rgba(255, 0, 0, 1);
          transition: background-color .5s;
}
#primercuadrado{
  background-image: url("../img/gajonaranja2.png");
  background-repeat: no-repeat;
  background-position: right;
}



/*acá comienza catálogo*/

#catalogo{
  background-image: url("../img/fondo_cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  width: 100%;
  font-family: "Bitter";
}
#catalogo div{
  display: inline-block;
  width: 700px;
  margin: 10px auto;
}
#catalogo h2{
  text-align: center;
  line-height: 50px;
  vertical-align: center;
  border-bottom: 2px solid grey;
  margin-bottom: 25px;
  text-decoration: underline;
}


#catalogo div img{
  height: 200px;
  padding: 25px;
  border-right: 2px solid grey;
  float: left;
}
#catalogo div div{
  float: right;
  width: 450px;
  height: 250px;
  vertical-align: middle;
  position: relative;
  bottom: 1.2em;
}
#catalogo div div h3{
  font-size: 1.5em;
  width: 100%;
  background-color: grey;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
#catalogo div div p{
  font-size: 1em;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  text-align: justify;
  padding: 5px 10px;
}


#nosotros{
  background-image: url("../img/fondo_nosotros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  clear: both;

}

#about{
  width: 75%;
  position: relative;
  bottom: 8em;
  font-family: "Oswald";
  padding: 100px;
  bottom: 12em;
}


#titulomandalefruta{
  text-align: center;
  position: relative;
  bottom: 4em;
  font-size: 25px;
  font-family: "Allerta";
}

#headabout{
  position: relative;
  bottom: 5em;
  left: 5em;
}

#nosotros img{

  height: 150px;
  position: relative;
  left: 20em;
  bottom: 1em;
}

#nosotros ul li{

  padding: 5px;
  list-style: circle;
  position: relative;
  left: 2em;
}


article #titulomandalefruta{

  text-align: center;
  position: relative;
  right: 3em;

}

#about p strong{
  background-color: rgba(102,0,102,0.4);

}

#h3articlebottom{

  position: relative;
  font-size: 30px;
  text-align: center;
  top: 2em;
}


/*comentarios: Acá comienza formulario de pedido*/

#pedido{
  background-image: url("../img/fondo_pedidos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7em;
}

#pedido > div{
    margin: auto;
    height: 100%;
    padding: 5em;

}
#pedido div form div label input[type="text"]{
  width: 100%;
}
#pedido > div > form > div{
    padding: 10px 30px;
    text-align: center;
}

#pedido div div .ejercicio36 h2{

  text-align: center;
  position: relative;
  left: 1.5em;
  bottom: 2.7em;
  font-family: "Oswald";
  font-size: 46px;
  text-shadow: 3px 1px 2px rgba(255, 255, 255, 1);
}

#pedido div div .ejercicio36 img{
  width: 125px;
  height: 125px;
  position: relative;
  left: 16em;
  bottom: 1em;
}

#login{
  background-image: url("../img/fondo_pedidos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9.5em;
}

#login div div .ejercicio36 h2{

  text-align: center;
  position: relative;
  left: 0.3em;
  bottom: 1.5em;
  font-family: "Oswald";
  font-size: 46px;
  text-shadow: 3px 1px 2px rgba(255, 255, 255, 1);
}


form{
  font-family: roboto;
  background-color: rgba(255, 255, 255, 0.5);
  width: 750px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
}
fieldset legend{
  text-align: center;

}
fieldset{
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
input[type=tel], input[type=text] {
  padding: 12px 20px;
  box-sizing: border-box;
  display: block;
}
select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#pedido div form h5{
  text-decoration: underline;
}
#formconsulta div form div h3,
#pedido > div > form > div > label > span,
#pedido > div > form > div > fieldset > div > span,
#pedido > div > form > div > fieldset > div > label > span{
  float: left;
  text-align: left;
  font-weight: bold;
  padding: 5px 0;
}
#pedido > div > form > div > fieldset > div > label{
  text-align: left;
  margin-left: 10px;
}
#pedido > div > form > div > fieldset > div > label > input[type="checkbox"]{
  text-align: left;
  float: left;
  margin-left: 55px;
}
.css3button {
  margin-top: 60px;
  font-family: roboto;
  font-size: 20px;
  color: #000000;
  padding: 20px 30px;
  background: -moz-linear-gradient(
    top,
    #ebebeb 0%,
    #d6d6d6);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#ebebeb),
    to(#d6d6d6));
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  border: 0px solid #ffbf00;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.3),
    inset 0px 0px 3px rgba(255,255,255,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.3),
    inset 0px 0px 3px rgba(255,255,255,1);
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.3),
    inset 0px 0px 3px rgba(255,255,255,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.1),
    0px 1px 0px rgba(255,255,255,1);
}

section div form{

  padding: 2em;
}


.hacerpedidos{

  background-image: url("../img/pedidosfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;


}

/*formulario de registro*/

.alta_user{
  margin: auto;
  margin-top: 150px;
  height: 600px;
  width: 800px;
}

/*formulario de consulta*/

      form{
        text-align: center;
        width: 100%;
        font-family: roboto;
      }
      form input{
        display: block;
        width: 560px;
        border: 1px solid lightblue;
        padding: 15px 20px;
        border-radius: 10px;
        margin: auto;
      }
      form textarea{
        display: block;
        width: 560px;
        border: 1px solid lightblue;
        padding: 15px 20px;
        border-radius: 10px;
        margin: auto;
      }
      .boton{
        width: 300px;
        height: 80px;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        color: white;
        background-color: orange;
        font-weight: bold;
        font-size: 25px;
        margin-top: 10px;
      }
/*footer*/
.clear{
  clear: both;
}
footer{
  text-align: center;
  background: linear-gradient(90deg, #fc4646, orange 90%);
  background: -webkit-linear-gradient(90deg, #fc4646, orange 90%);
  background: -moz-linear-gradient(90deg, #fc4646, orange 90%);
  background: -ms-linear-gradient(90deg, #fc4646, orange 90%);
  background: -o-linear-gradient(90deg, #fc4646, orange 90%);
  color: white;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
footer div{
  display: inline-block;
  vertical-align: middle;
}
footer div ul{
  padding: 0 35px;
}

footer div ul li{
  display: inline-block;
  list-style: none;
}

footer span{
  position: relative;
  right: 2.5em;
}

footer div ul li a img{
  position: relative;
  top: 0.4em;
  right: 1.2em;
  height: 1.5em;
  width: 1.5em;
}

/*footer home.php*/

#footerhome{
  position: relative;
  top: 15.3em;
  padding: 1px;
}



/*animacion botonera*/
@-webkit-keyframes swirl-in {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
